body{
    background-color: rgb(219, 219, 219);
}

.headline{
    font-family: 'Quicksand';
    font-weight: 300;
    font-size:4em;
}

h1{
    font-family: 'Quicksand';
    font-weight: 300;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    font-family: 'Quicksand';
  }

  .card h1{
      font-family: 'Quicksand';
      font-weight: 500;
  }

  .card p{
      font-family: 'Raleway';
      font-weight: 300;
  }
  
  .card button {
    border: none;
    outline: 0;
    padding: 12px;
    color: #333;
    background-color: rgb(255, 232, 101);
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }

  a{
      text-decoration: none;
      width:100%;
  }

  .card .btn {
    border: none;
    outline: 0;
    padding: 12px;
    color: #333;
    background-color: rgb(255, 232, 101);
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }
  
  .card button:hover {
    background-color: rgb(255, 223, 40);
  }

  .card .btn:hover {
    background-color: rgb(255, 223, 40);
  }

  .column {
    float: left;
    width: 33.33%;
  }

  .column-1 {
    margin-left: 20px;
    float: left;
    width: 33.33%;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  .container{
      width:1200px;
      margin: 20px auto;
  }

  .card .disabled{
    opacity: 0.5;
    cursor: wait;
  }

  .card .disabled:hover{
    opacity: 0.5;
    cursor: wait;
    background-color: rgb(255, 232, 101);
  }
